{% extends 'expenses/base.html' %}
{% block content %}


<h2>خوش اومدی، {{ user.username }} 😉</h2>

<ul>
    <li><a href="{% url 'create_group' %}">ساخت گروه</a></li>
    <li><a href="{% url 'join_group' %}">پیوستن به گروه</a></li>
</ul>

<h3>گروه‌های من:</h3>
<ul>
    {% for group in groups %}
        <li><a href="{% url 'group_detail' group.id %}">{{ group.name }}</a></li>
    {% empty %}
        <li>هنوز عضو هیچ گروهی نیستی.</li>
    {% endfor %}
</ul>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">خروج</button>
</form>


{% endblock %}